{
  "presets": [
    ["es2015", { "modules": false }],
    ["stage-2"]
  ],
  {{#alacarte}}
  "plugins": [
    "transform-runtime",
    "add-filehash",
    ["transform-imports", {
      "vuetify": {
        "transform": "vuetify/src/components/${member}",
        "preventFullImport": true
      }
    }]
  ],
  {{else}}
  "plugins": ["transform-runtime"],
  {{/alacarte}}
  "comments": false,
  "env": {
    "test": {
      "presets": ["es2015", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
