<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <title>vuetiful</title>
    {{ STYLE }}
  </head>
  <body>
    {{ APP }}
    <script src="/dist/client-vendor-bundle.js"></script>
    <script src="/dist/client-bundle.js"></script>
  </body>
</html>
