<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Vuetify</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="<!-- DESCRIPTION -->">
    <meta name="keywords" content="<!-- KEYWORDS -->">
    <link rel="icon" type="image/png" href="public/favicon-32x32.png" sizes="32x32">
  </head>
  <body>
    <noscript id="deferred-styles">
      <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
      <% for (key in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
      <% } %>
    </noscript>
    <!-- APP -->
    <!-- CRITICALJS -->
  </body>
</html>